<h1>Document a Pigeon</h1>

<form method="post" action="/pigeons">
    <div>
        <label>Name</label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Description</label>
    </div>
    <div>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Behaviour</label>
    </div>
    <div>
        <select name="behaviour">
            <option value="docile">docile</option>
            <option value="quirky">quirky</option>
            <option value="aggressive">aggressive</option>
            <option value="gentle">gentle</option>
        </select>
    </div>
    <div>
        <label>Location</label>
    </div>
    <div>
        <input type="text" name="location" />
    </div>
    <div>
        <label>Activity Log</label>
    </div>
    <div>
        <textarea name="activity"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>