<h1>Document a Pigeon</h1>

<form method="post" action="/pigeons">
    <div>
        <label>Name</label>
    </div>
    <div>
        <input type="text" name="name" />
    </div>
    <div>
        <label>Type</label>
    </div>
    <div>
        <select name="type">
            <option value="City">City</option>
            <option value="Day">Day</option>
            <option value="Night">Night</option>
            <option value="Wild">Wild</option>
        </select>
    </div>
    <div>
        <label>Description</label>
    </div>
    <div>
        <textarea name="description"></textarea>
    </div>
    <div>
        <label>Behaviour</label>
    </div>
    <div>
        <select name="behaviour">
            <option value="Docile">Docile</option>
            <option value="Quirky">Quirky</option>
            <option value="Aggressive">Aggressive</option>
            <option value="Gentle">Gentle</option>
        </select>
    </div>
    <div>
        <label>Region</label>
    </div>
    <div>
        <select name="region">
            <option value="NSW">NSW</option>
            <option value="QLD">QLD</option>
            <option value="SA">SA</option>
            <option value="TAS">TAS</option>
            <option value="VIC">VIC</option>
            <option value="WA">WA</option>
            <option value="NT">NT</option>
            <option value="ACT">ACT</option>
        </select>
    </div>
    <div>
        <label>Location</label>
    </div>
    <div>
        <input type="text" name="location" />
    </div>
    <div>
        <label>Activity Log</label>
    </div>
    <div>
        <textarea name="activity"></textarea>
    </div>
    <div>
        <input type="submit" value="Submit Form" />
    </div>
</form>